{
  "presets": [
    [
      "@babel/env",
      {
        // "targets": "> 0.25%, not dead",
        "targets": {
          "chrome": 104
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
